<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLUZD9jXLWGsBrnhtDhOGgUMf37P9fd3U</string>
	<key>GCM_SENDER_ID</key>
	<string>262764376701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pishranesh.novintaxidriver</string>
	<key>PROJECT_ID</key>
	<string>novintaxi-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>novintaxi-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262764376701:ios:6ea8f95891a9d63b623714</string>
</dict>
</plist>